[2013-08-12 14:39] nbuytaert1 opened #1 "Implement lazy loading"

[2013-08-13 13:30] nbuytaert1 opened #2 "Didn't consider null values in grouping column"

[2013-08-13 13:39] nbuytaert1 opened #3 "Rework cascading LOV support"

[2013-08-14 17:44] nbuytaert1 opened #4 "Session values for multi-select items not set on page load"

[2013-08-14 18:10] #4 closed, assigned to nbuytaert1

[2013-08-14 19:11] #2 closed, assigned to nbuytaert1

[2013-08-16 18:04] #3 closed, assigned to nbuytaert1

[2013-08-18 08:32] nbuytaert1 opened #5 "Upgrade Select2 libraries to version 3.4.2"

[2013-08-18 18:27] nbuytaert1 opened #6 "Placeholder is ignored when using optimize refresh"

[2013-08-19 13:10] #5 closed, assigned to nbuytaert1

[2013-08-19 13:10] #6 closed, assigned to nbuytaert1

[2013-08-19 13:29] theplaceboeffect opened #7 "Drag and drop for shuttle?"
Hi,

Nice job on select2 first of all. Secondly, I was thinking it would be nice to implement drag and drop. What do you think?

[2013-08-19 18:48] nbuytaert1 opened #8 "Introduce a custom width attribute"

[2013-08-20 06:19] nbuytaert1 opened #9 "Prettify the printing of JavaScript output"

[2013-08-20 09:13] #9 closed, assigned to nbuytaert1

[2013-08-20 09:13] #8 closed, assigned to nbuytaert1

[2013-08-22 11:41] nbuytaert1 opened #10 "Implement templating feature"

[2013-08-26 09:32] #7 closed, assigned to nbuytaert1

[2013-08-28 13:21] nbuytaert1 opened #11 "Support for APEX 4.1"

[2013-09-03 18:27] #10 closed, assigned to nbuytaert1

[2013-09-04 08:11] #1 closed, assigned to nbuytaert1

[2013-09-04 10:36] #11 closed, assigned to nbuytaert1

[2013-09-04 17:57] rimblas opened #12 "select2.css is incorrectly included"
In v2.0 select2.css is not correctly included.
The file gets added with the APEX version appended to it. For example: select2_4_1.css instead of select2.css

This is due to apex_css.add file not including p_version => null.
I think the code should be:
  apex_css.add_file(
    p_name      => 'select2',
    p_directory => p_plugin.file_prefix,
    **p_version   => null**
  );

[2013-09-04 18:57] #12 closed, assigned to nbuytaert1

[2013-09-07 10:06] nbuytaert1 opened #13 "jQuery UI lib files not attached to the proper jQuery object"
https://forums.oracle.com/thread/2578732

[2013-09-07 14:34] #13 closed, assigned to nbuytaert1

[2013-09-08 16:52] nbuytaert1 opened #14 "The literal "4.1" should be represented as a string (ORA-06502)"
https://forums.oracle.com/thread/2578732

[2013-09-08 16:55] #14 closed, assigned to nbuytaert1

[2013-09-16 11:33] pshapoval opened #15 "Double escape of html markup"
When you try to define list of values with '<' or '>' symbols as example

[code]

It will be double escaped and you'll see

[2013-09-16 22:06] pshapoval opened #16 "Session value is null when pass it to another page item"
When I use select2 to set any value on another page (through "Redirect to Page..." button) value of select2 item always is null.

[2013-09-17 20:30] #16 closed, assigned to nbuytaert1

[2013-09-18 06:17] nbuytaert1 opened #17 "Upgrade Select2 libraries to version 3.4.3"

[2013-10-10 07:48] #15 closed, assigned to nbuytaert1

[2013-10-10 07:59] #17 closed, assigned to nbuytaert1

[2013-10-24 15:19] martindsouza opened #18 "Tagging only returns display value"
When using tagging option and you submit the page the values in the APEX item are the display values and not the return values. In `get_tags_option` > `if (p_include_key) then` should use the following:

[code]

According to the 'tags' parameter definition in Select2 (http://ivaynberg.github.io/select2/) it should be able to handle structured data like this:

_Puts Select2 into 'tagging'mode where

[2013-10-25 10:26] nbuytaert1 opened #20 "Upgrade Select2 libraries to version 3.4.4"

[2013-10-25 10:26] #20 closed, assigned to nbuytaert1

[2013-10-25 10:31] nbuytaert1 opened #21 "Introduce custom Select2 events"
- change
- opening
- open
- highlight
- selecting
- clearing
- removed
- focus
- blur

[2013-10-25 10:34] #21 closed, assigned to nbuytaert1

[2013-10-28 08:21] nbuytaert1 opened #22 "Cascading LOVs do not work in APEX 4.1"
Uncaught TypeError: Cannot call method 'plugin' of undefined
apex.server.plugin does not exist in APEX 4.1.
Any good workaround?

[2013-10-28 08:29] #18 closed, assigned to nobody

[2013-11-25 09:47] nbuytaert1 opened #23 "Possibility to easily refresh a Select2 item"

[2014-02-05 13:50] nbuytaert1 opened #24 "Possibility to change the separator"
"Is it possible to use a different separator from ":"? Or are there restrictions due to the usage of Apex collections?"

[2014-03-20 10:51] yevon opened #25 "Use with tabular forms"
Can it be used with tabular forms? I don't figure out how to do it

[2014-03-21 19:48] #25 closed, assigned to nbuytaert1

[2014-03-23 07:40] nbuytaert1 opened #26 "Upgrade to Select2 3.4.6"

[2014-03-30 10:05] #26 closed, assigned to nbuytaert1

[2014-03-30 18:32] #24 closed, assigned to nbuytaert1

[2014-04-09 07:04] nbuytaert1 opened #28 "Non-numeric return value breaks tagging mode"
"I’m facing a bug on it for tagging mode.
If I set its “Return Value Based on” property equal to “RETURN COLUMN”, it works fine only if the return value of the associated LOV is numeric, otherwise the controls does not get correctly rendered."

[2014-04-09 07:38] #28 closed, assigned to nbuytaert1

[2014-05-28 06:45] nbuytaert1 opened #29 "Upgrade to Select2 3.5.1"

[2014-08-03 07:14] nbuytaert1 opened #30 "Implement lazy loading"

[2014-09-03 06:25] #29 closed, assigned to nbuytaert1

[2014-11-05 16:36] j123ss opened #31 "Hide/Show Does not recognize the item"
Hide/Show dynamic actions only work with the original select list... how can I modify this to work with this better looking plugin?

[2014-12-30 19:18] #30 closed, assigned to nbuytaert1

[2015-01-09 07:22] nbuytaert1 opened #32 "Enable lazy-appending in combination with remote data"
"Regarding big lists, in my case I had to limit the number of results returned by the ajax call back. I set the number of rows returned to 25 and solved my performance problems.

As future enhancement would be great if you could add the possibility of using pagination, getting N rows per call. If the user gets to the end of the list get the next block of rows."

[2015-01-09 07:24] nbuytaert1 opened #33 "Upgrade to Select2 4.0.0"
Wait for a stable version first.

[2015-01-11 15:36] nbuytaert1 commented on #31
Closing this issue due to inactivity.

[2015-01-11 15:36] #31 closed

[2015-01-11 15:40] #32 closed

[2015-01-12 15:28] rimblas opened #34 "Need version on APEX Download page"
I think the version of the plugin should be displayed close to the "Download" link on https://apex.oracle.com/pls/apex/f?p=64237:20:0:::::

From that page it's not possible to see the current version.  Maybe even the date the version was released.
:)

[2015-01-12 17:22] nbuytaert1 commented on #34
You are absolutely right. Fixing it straight away.

[2015-01-12 17:58] nbuytaert1 commented on #34
Added the plugin version and release date to the download page. Thanks for the advice, Jorge.

[2015-01-12 17:58] #34 closed

[2015-01-12 17:59] nbuytaert1 opened #35 "Reference blog posts on download page"

[2015-01-12 18:18] rimblas commented on #34
Awesome! Looks great!

[2015-01-13 08:47] tomvdduin opened #36 "component attibute with alternative search filter"
Right now, when you enter a value in the search field, you'll search the displayed column. Maybe it's a good idea to add a new attribute at component level, where you can add an alternative search filter? That way, I could also search on a column that's not displayed such as a customer number, or use an Oracle Text contains index to speed up a like lower('%x%') query (and that way, you can search

[2015-01-20 17:48] nbuytaert1 commented on #36
Would be a great enhancement indeed. I can't add new component attributes anymore since I have reached the limit of fifteen attributes. Pretty stupid, but I can't change that.

Another solution would be to allow an extra column to be used in the item's LOV definition. That way I can easily differentiate between the display column and the search column. I'm not completely sure whether this is a val

[2015-02-09 17:22] nbuytaert1 opened #37 "Extend the matcher function with more search options"
"For example: if I type WAL, the smart filter should only display customer names which only starts with WAL. Currently it is displaying those customers with WAL anywhere in the customer name."

- Starts With & Ignore Case
- Starts With & Case Sensitive

[2015-02-10 17:50] #37 closed

[2015-02-10 18:00] #35 closed

[2015-02-18 21:27] JoeStratton opened #39 "Loading Multiple Values into Select2"
The multi value select2 option works great for saving and even loading a form again when a single value is selected.

When I save multiple values into the field its store in the fomat val1:val2:val3

My question is how do you manually load those values back into the item on page load?

Thanks!

[2015-02-20 13:22] crokitta opened #40 "(optionally) keep typed search text in multi-value select after selecting a value from list"
installed Version: 2.6

When using multi-value select, typing text into the search field, resulting in multiple matches:
selecting one match removes the search text. This is different from behavior in earlier versions and available in the original jQuery plugin too (using CTRL key).
I would like to have this behavior back, or configurable by an option.

regards,
Christian

[2015-02-26 15:34] #39 closed

[2015-03-07 12:07] nbuytaert1 commented on #39
Sorry for the late reply.

Loading multiple values into a Select2 page item should automatically be taken care of. Simply assign the colon separated value to the page item (e.g. 7839:7521).

[2015-03-07 14:43] JoeStratton commented on #39
Yes I solved that :) but the max amount of select2 items on the page still seems to be limited

Sent from my iPhone

[2015-03-07 17:03] nbuytaert1 commented on #39
I have answered that question on apex-plugin.com:
http://www.apex-plugin.com/oracle-apex-plugins/item-plugin/select2_344.html

[2015-03-08 11:25] nbuytaert1 commented on #40
This behaviour is probably caused by the official Select2 plugin, not the APEX plugin. I have updated the library files to the latest and last version of major release 3 (version 3.5.2). The next step would be to upgrade the APEX plugin to Select2 4.0.0. Can you confirm that the above described behaviour is present in version 4.0.0? https://select2.github.io/

If so, then this issue will be automa

[2015-03-21 19:02] nbuytaert1 opened #41 "Drag and drop sorting does not work in APEX 5.0"

[2015-04-07 10:04] nbuytaert1 opened #42 "Extra search logic option: diacritics disabled"

[2015-05-21 12:16] glebovpavel opened #44 "Clear functionality do not work with lazy loading"

[2015-05-21 13:33] glebovpavel opened #45 "Clear button overlaps value text"
When "Width" parameter has default value.

[2015-05-21 17:31] #44 closed

[2015-05-21 17:31] #45 closed

[2015-05-21 19:04] nbuytaert1 commented on #41
Fixed by including jquery.ui.sortable.min.js version 1.10.4.

[2015-05-21 19:04] #41 closed

[2015-09-26 02:39] martindsouza opened #48 "APEX: 5.0 Stretch Form Fields not working"
When a Select 2 item is in a region who's template option `item width` = `Stretch Form Fields`, the item doesn't fill in the full space.

Screen shot below highlights this (included grid output but don't think it's relevant in this case)

![image](https://cloud.githubusercontent.com/assets/2925726/10115458/733970a0-63c5-11e5-8532-cde0f972a124.png)

[2015-09-26 02:44] martindsouza opened #49 "APEX 5.0 Modal Pages"
In APEX 5.0 if Select2 is added on a modal page where it exceeds the page, what should happen? Right now it gets cut off:

![image](https://cloud.githubusercontent.com/assets/2925726/10115473/fd98d77c-63c5-11e5-8cc5-d0d826c1368c.png)

Some options:
- Shrink the list so that it doesn't exceed the length of the modal window
- Let it go over the modal page (but don't think this is possible since it's

[2015-10-01 09:18] cboillat commented on #33
Is it stable enough now to upgrade ?

[2015-10-02 05:57] nbuytaert1 commented on #48
Fixed in version 2.6.4.
The "Component Settings" section now includes a "Look and Feel" item. Select "Universal Theme" to enable better integration between Select2 items and the Universal Theme.

[2015-10-02 05:57] #48 closed

[2015-10-02 06:21] nbuytaert1 commented on #33
Select2 version 4.0.0 is stable indeed. However, it's a significant upgrade which requires me to change the APEX plugin code as well. I don't have much time these days, so I'm afraid this will be something for later.

[2015-10-02 06:46] cboillat commented on #33
Ok no problem I understand. Thx anyway for your great plugin :)

[2015-10-02 06:54] nbuytaert1 commented on #49
Option 2 won't be possible indeed.
Option 1 is a possibility, but I don't think it will be easy to calculate the height of the dropdown. Why don't you set the height manually with some CSS?

[code]

Sorry for the lazy approach...

[2015-10-04 18:34] martindsouza commented on #48
Just tested. Looks good. Thanks!

[2015-10-04 18:43] martindsouza commented on #49
@nbuytaert1 That makes sense, no need to apologize. Thanks for the quick turn around.

[2015-10-04 18:43] #49 closed

[2015-10-05 00:57] rimblas commented on #49
In the Super LOV plugin, Dan McGhan implemented a "Climb the DOM Tree" option. This was exactly for using it in Modal Windows. The LOV would "climb" the DOM tree and attach itself to the top most page, effectively adding it on top of the Modal Window iframe.
Now, with Select2, this technique may be a lot more complicated because the drop down is not just floating on top in the middle of the viewpo

[2015-10-05 15:35] nbuytaert1 commented on #49
Thanks for the input Jorge. That's probably a valid workaround. One problem is that the Select2 plugin uses 15 component attributes, which is the limit. So adding extra attributes is not an option.

[2015-10-14 00:37] martindsouza commented on #49
If it's any help for others, here's the selector I used to restrict the height on modal/dialog pages only:

[code]

[2015-10-16 10:22] sapreuss commented on #33
Hi.
I enjoy and use your plugin in several projects. I found out, that Select2 V4 better supports my requirements and so I took a look at your plugin implementation.

There are only a few changes in your code to enable select2 V4!

I did not test the tagging support (since i don't need it), but I tested the standards including the remote lazy load with infinite scroll.

Thx for your great work!

I

[2015-10-16 10:44] glebovpavel commented on #33
Hallo sapreuss!
Thanks for your work.
Works multiselect - feature with your improvements?

[2015-10-16 10:51] sapreuss commented on #33
Hi Pavel,

yes – it works.

My requirement is changing the multiselect content by trigger (return value of a modal dialog) with a remote data source.

See the changes; I might add some work, because my customers need this feature.

Current source is appended.

Freundliche Grüße

Sebastian Preuß

Dipl. Ing. Sebastian A. Preuß @ Consultant - Project Management - Oracle Database Management - Oracle A

[2015-10-19 11:23] nbuytaert1 commented on #33
Hello Sebastian,

I sure am interested in your work. Is it possible for you to attach the plugin file(s) to this thread?

Thanks,
Nick

[2015-10-19 12:31] sapreuss commented on #33
Hi Nick,

Sure.  Did you receive it?

The plugin includes the current select2 sources and the (very few) Changes.

It did not use the compatibility code but add the debug feature in the add library for testing.

I will do some more testing. But I’m not interested in the tagging feature… :-(

So this is never even tried.

I’m glad if it helps!

Sebastian

Von: Nick Buytaert [mailto:notifications@gi

[2015-10-20 05:21] nbuytaert1 commented on #33
I can't see the file that you are trying to share. Probably because you are replying to this thread via e-mail. Can you try to attach the file(s) directly to the GitHub thread?

[2015-10-20 07:57] sapreuss commented on #33
I already tried this. Butter you can only Dropbox images. I am not in my Office today. Let's try tomorrow.

Sebastian Preuß von unterwegs

On Mon, Oct 19, 2015 at 10:21 PM -0700, "Nick Buytaert" <notifications@github.com> wrote:

I can't see the file that you are trying to share. Probably because you are replying to this thread via e-mail. Can you try to attach the file(s) directly to the GitHub t

[2015-10-21 08:50] sapreuss commented on #33
Hi Nick,

the file will be available on:

  https://www.hidrive.strato.com/lnk/gKPEKWZv

for the next 10 days.

Regards Sebastian

Von: Nick Buytaert [mailto:notifications@github.com]
Gesendet: Dienstag, 20. Oktober 2015 07:22
An: nbuytaert1/apex-select2 <apex-select2@noreply.github.com>
Cc: sapreuss <sapreuss@input98.de>
Betreff: Re: [apex-select2] Upgrade to Select2 4.0.0 (#33)

I can't see the

[2015-10-21 15:30] nbuytaert1 commented on #33
Thanks, I downloaded it. I'll take a look at it as soon as I find some spare time.

[2015-10-27 19:43] Fatehcis opened #50 "Plugin look"
Very nice and handy plugin, thanks. Is it possible to give it the same look and feel of the native Select List item on APEX UT ?

[2015-11-09 09:20] nbuytaert1 commented on #50
The latest version of the Select2 APEX plugin includes a new component setting (Shared Components > Component Settings > Select2 [Plug-in]): Look and Feel. Select "Universal Theme" for better (not perfect) UT integration.

[2015-11-09 18:45] Fatehcis commented on #50
Hello Nick,
Great. Thanks for your email..

     Fateh Almsaddi, *COO*, M: (+971) 55 667 5271 <+971556675271>
------------------------------
[image: FAM Properties] <http://dubai.famproperties.com/>
Building 13, Office 303 & 304
Bay Square - Business Bay
Burj Khalifa District
P.O Box 215088
Dubai, UAE
*fäm*Properties.com <http://dubai.famproperties.com>
Location Map
<https://www.google.com/maps/pl

[2015-11-09 19:32] #50 closed

[2015-11-19 03:43] maxime-tremblay opened #51 "No Data Found Raised in Readonly"
The plugin raises a no_data_found exception when the item is in readonly mode and that the value can't be found in the specified LOV query.

[2015-11-19 13:51] nbuytaert1 commented on #51
I'll take a look at this when I find the time.
Thanks for the bug notification.

[2016-01-19 04:06] Mike682 opened #52 "Toggle and ORA-06502"
Hi Nick,

First of all, thank you for the grate work you did on this select2 plugin.

I have used it many times and it helps me a lot. But today I am facing this ORA-06502 error when I use the Toggle functions. it works fine if my LOV is having limited returns values, but if the return is too much, I had this Ora-error.

If I use the single-select or multiple-select, the same LOV works fine though

[2016-01-26 07:30] nbuytaert1 commented on #52
Hey Mike,

Can you explain what this "Toggle fucntion" is? I don't know what you are referring to.
Have you tried enabling lazy loading? That might prevent the ORA-06502 error from occuring.

[2016-01-27 01:45] Mike682 commented on #52
Hi Nick,

Thank you for the response.

I was talking about the "Tagging Support"(sorry, not the "Toggle"),

Yes I tried the lazy loading but I am still getting the errors.  I was thinking maybe this is because of the 32767 varchar2 limit of Oracle but then the other choose("Multiple-Value list"/"Single-Value List" works fine, so that make me thinking maybe it's not because of the varchar2 limit.

[2016-01-27 03:08] Mike682 commented on #52
Hi Nick,

You are right, Turned out setting it to Lazy loading solves the issues

Thanks again for the help!

[2016-01-27 03:08] #52 closed

[2016-03-02 14:47] egoncalez opened #54 "Kaspersky Antivirus Issue - Freezing Select2 Plugin"
After install Kaspersky Antivirus pages that uses select2 plugin are freezed and navigator crash after some minutes.
What kind of code in the plugin could be responsible for this. I don't see why AV interpret the code as malicious and block it.
I'm using Apex 5.

[2016-03-08 22:40] rimblas opened #55 "Allow for a custom CSS file"
Hi Nick, I enhanced the plugin to allow either Select2, Universal Theme or Custom styling.
However, it looks like the plugin.sql file and the code inside the plugin have lots of differences. Some could be significant (to someone at least).
Would you recommend I start with the code in the plugin export file and overwrite the plugin.sql ?

BTW, the change is fairly simple I think. These will be the

[2016-03-14 09:54] nbuytaert1 commented on #55
Hey Jorge,

That's my mistake. I have tried to upgrade the plugin to make use of Select2 4.0.0, but ran into some annoying issues. I did commit some incomplete work, which explains the difference between plugin.sql and the code inside the plugin.

It's fine if you just add your changes to the plugin.sql file. I'll then try to merge your changes whenever I find the time.

Thanks,
Nick

[2016-03-14 10:02] nbuytaert1 commented on #54
I actually have no idea. Does this antivirus have some kind of logs? You might find something relevant there.

[2016-03-21 12:44] croHamster opened #56 "Cascading LOV Issue"
Hi,

I found this one of the most useful APEX Plugin nad i'm looking forward for adopting the new APEX 5 Universal Theme.

In the meanwhile I found that select2 is working with cascading LOV, but not in one situation: if you have a child LOV that shows all values when parent LOV hasn't a selection (select name, id from child where :parent_id is null or parent_id = :parent_id) and you make a parent

[2016-03-21 13:32] nbuytaert1 commented on #56
That seems to be a problem indeed. I'll see if I can find a solution for this.

[2016-03-21 13:48] glebovpavel commented on #56
This problem should be solved in my pull request

[2016-03-21 13:58] croHamster commented on #56
Sure, I can test it, but need input of how to download the pull request so I can install it on my test APEX 5 environment?

[2016-03-21 14:52] glebovpavel commented on #56
you can try https://github.com/glebovpavel/apex-select2

[2016-03-21 16:02] croHamster commented on #56
I managed to import the pull request and have tested it. There was also my mistake that I was not using the "Optimize Refresh" correctly (must be set to "No" when using null values that return entries).

The official release works fine with 2 cascading LOV's, but not with 3. The pull request version works fine both with 2 and with 3 cascading LOV's.

Thank you both. Looking forward of merging the

[2016-03-22 10:46] croHamster commented on #56
Hi Pavel,

I did some more tests and can confirm what i wrote in my previous post - your version works even with 3 levels of cascading LOV's. But there is one behaviour in your version that work's different than in standard select and in select2 official release: when you clear (select null) in parent LOV, the child LOV's selection stays. Standard behaviour is that it is also cleared (nulled).

Th

[2016-03-22 13:06] glebovpavel commented on #56
Hi Hrvoje,
Are you set "Display extra values" on child LOV's  to "No"?
You can see sample App on https://apex.oracle.com/pls/apex/f?p=65254:1

Sources of attached apps are
[f65254.zip](https://github.com/nbuytaert1/apex-select2/files/184129/f65254.zip)

[2016-03-22 13:23] croHamster commented on #56
Yes, I have "Display Extra Values" -> No, and "Display Null Value" -> Yes.

The difference is that you show no values in the child when parent is null, and I have all child values when parent is null (this is done with the SQL statement like: select name, id from child where :parent_id is null or parent_id = :parent_id). If I remove the ":parent_id is null" part, it works like in your example an s

[2016-04-12 08:06] nbuytaert1 opened #57 "Custom CSS classes not being added"
I wish to add an extra class to some of my Select2 items. If I add the class to the Advanced->CSS Classes attribute, the class is not included in the document. My work around was to add class=”my-new-class” into the Advanced->Custom Attributes attribute instead.

[2016-04-12 08:07] nbuytaert1 opened #58 "Problem with colon separator"
I struck a problem on a Select2 item (Single-value Select List) that contains colons (:) in the data (it’s a list of times, e.g. 09:00). After selecting a value and saving it in session state, when the page is refreshed the data in the item is truncated from the first colon, even though the item saved properly in session state. I realised the problem was probably caused by the default separator fo

[2016-05-16 16:28] nbuytaert1 commented on #57
The _apex_plugin.t_page_item_ type in APEX 4.1 does not include the _element_css_classes_ attribute.

[2016-05-16 16:32] nbuytaert1 commented on #54
No further feedback. Closing this issue.

[2016-05-16 16:32] #54 closed

[2016-05-16 16:42] nbuytaert1 commented on #22
This feature for APEX 4.1 will not be developed due to the small user base of 4.1.

[2016-05-16 16:42] #22 closed

[2016-05-16 16:54] nbuytaert1 commented on #40
This feature will be available in version 3.0.0 by enabling the _Rapid Selection_ attribute. _Rapid Selection_ prevents the dropdown from closing when an item is selected, and remembers the entered search term.

[2016-05-16 17:04] nbuytaert1 commented on #51
I was unable to reproduce this problem. Is it possible to provide more details on how to trigger the _NO_DATA_FOUND_ exception?

[2016-05-18 07:23] p3t3r opened #59 "No Matches Message not translated"
Hello,

I found a bug where the No Matches Message is not translated.
The attribute has the "Translatable" property set to "Yes". It shows up in the translation repository, where I translate the string.
But in the Apex page it is not translated, but still the original message.
The strange thing is, is that other messages are correctly translated , for instance the "Searching Message".
Looking at t

[2016-05-19 07:00] nbuytaert1 commented on #59
Hey Peter,

That's pretty weird because, like you said, all messages are treated the same way. I'll try to reproduce this bug when I find the time. What version of APEX are you on by the way?

[2016-05-19 07:09] p3t3r commented on #59
Hey Nick,

I'm on version 4.2.3.

I've already tried to create an extra attribute (8) , but that attribute is also not translated.
When I set attribute 4 to "Translatable" is "no" then this is (as expected) also not translated.

Peter

[2016-05-29 09:14] nbuytaert1 opened #60 "Option Grouping in combination with Lazy Loading"
http://stackoverflow.com/questions/17611174/grouping-results-in-select2

[2016-05-31 08:15] nbuytaert1 opened #61 "Automatic tokenization"
https://select2.github.io/examples.html#tokenizer

[2016-05-31 09:25] nbuytaert1 commented on #33
Upgraded the APEX plugin to work with Select2 v4.0.3.

[2016-05-31 09:25] #33 closed

[2016-05-31 09:27] nbuytaert1 commented on #57
Increased the minimum required APEX version to 4.2, which makes it possible to reference the _element_css_classes_ attribute.

[2016-05-31 09:27] #57 closed

[2016-05-31 09:28] #40 closed

[2016-06-01 13:21] maxime-tremblay commented on #51
I was finally able to reproduce the error and able to find a fix for it.

The problem seems to only happen when you have an lov select returning a number as the id, the select is in readonly mode and its value is not a number.
Then, it will throw a no_data_found exception.

I traced the error to the line 467:
[code]

I replaced it with this
[code]

I was also able to fix it by changing the select'

[2016-06-29 07:56] CHRISDHM opened #62 "NO DISPLAY WHEN LAZY LOADING"
ON APEX 5 OR HIGHER WITH ORDS LISTENER AND APACHE TOMCAT 7 WHEN USE SELECT2 PLUGIN WITH LAZY LOADING NOTHING DISPLAY ON PAGE (PAGE IS NORMAL) WHEN LAZY LOADING UNCHECKED THEN DISPLAYS A CLASIC SELECT LIST LIKE APEX SELECT LIST...PLUGIN VERSIONS 2.6.4 , AND 3.0 ,DATABASE 11G STANDARD ONE DATA LANGUAGE GREEK UTF8 OS WINDOWS SERVER 2008

[2016-06-29 09:39] CHRISDHM commented on #62
FOUND IT...NOT LOADING CSS ,JS AND OTHER SUPPORT FILES...SOLUTION COPY THIS FILES TO IMAGES DIRECTORY AND SET FILE PREFIX IN PLUGIN

[2016-06-29 09:39] #62 closed

[2016-07-29 08:18] mendesn opened #63 "Starting search with numbers"
Hi,

When the search starting is a number its always saying "The results could not be loaded".

e.g
in the table we have
1031-20 Hello
1301-21 there
1301-22 nice LOV

LOV
Starting search
1031
"The results could not be loaded"

You have to start searching with the same start from the LOV.

Thanks,
Nelson

[2016-07-29 09:41] mendesn commented on #63
Hi,

It seems if you put a row count on Lazy option it works fine.

Thanks,
Nelson

[2016-08-02 23:14] dnovotny32 opened #64 "Issue with Select list that has >> and & in the display"
Within APEX 5.0.3 - I have a select2 3.0 list that has ">>" values in the list ... when select2 displays them I get &gt;

In the data:

Select2 Displays
&gt;&gt;IT&gt;&gt;TSG&gt;&gt;IM

Also:  When I upgraded from 2.4 (?) to 3.0 the style of the select2 changed.  I would like to go back to the previous style (size, font, etc.) but I am not sure where to change it (I am an APEX rookie).

[2016-08-02 23:17] mendesn commented on #64
To go back the previous style go to components and edit

Em 03/08/2016 01:14, "dnovotny32" <notifications@github.com> escreveu:

[2016-08-02 23:30] dnovotny32 commented on #64
Thanks – But the Font Size isn’t like the rest.  Also:  Here is the screen shot of the character issue that I am seeing (it worked in the previous version).  Any ideas on how to fix this?

[cid:image003.jpg@01D1ECE3.85C4BED0]

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel

[2016-08-02 23:35] mendesn commented on #64
Try using style="the font you want" in css field properties

Em 03/08/2016 01:30, "dnovotny32" <notifications@github.com> escreveu:

[2016-08-03 15:30] dnovotny32 commented on #64
Thanks – any idea on the display issue (with the >>)???

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel. © Copyright 2016 CIGNA

From: mendesn [mailto:notifications@github.com]
Sent: Tuesday, August 02, 2016 5:35 PM
To: nbuytaert1/apex-select2
Cc: Novotny, David W 584; Aut

[2016-08-03 15:34] nbuytaert1 commented on #64
Hi David, does the problem occur only when you enable lazy loading?

[2016-08-03 17:00] mendesn commented on #64
Can you try and replace by another character? Do you realy need >>?

Em 03/08/2016 18:43, "dnovotny32" <notifications@github.com> escreveu:

[2016-08-03 17:20] dnovotny32 commented on #64
Kind of … when Lazy Loading is turned off I get >>>> (instead of just 2 ).  Here is the screen shot:

[cid:image003.jpg@01D1ED79.07B01120]

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel. © Copyright 2016 CIGNA

From: Nick Buytaert [mailto:notifications@github.com]
Sent: W

[2016-08-03 17:26] nbuytaert1 commented on #63
Hi Nelson,

Putting a row count on the lazy option? I don't understand that.

I assume you are seeing the message _The results could not be loaded_ only when lazy loading is enabled. Do the search results eventually come through or nothing at all?

When you type in a search term, an AJAX request is performed to fetch the LOV records that match the search term. A new AJAX request gets fired as soon

[2016-08-03 18:06] mendesn commented on #63
I will reply later with print screens

Em 03/08/2016 19:52, "Nick Buytaert" <notifications@github.com> escreveu:

[2016-08-03 21:19] dnovotny32 commented on #64
Interesting!!!

-          I replaced all >> with > -- got the same error  (replaced > with &gt;)

-          I replaced all >> with >> and it worked (I also tried \ which worked)

Do you know what the problem is … at least I have a workaround!!

BTW:  thanks for putting this plug-in together … it is such a life saver for our users!

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished p

[2016-08-04 09:45] mendesn commented on #63
It is a very good plug-in

Thanks

[2016-08-04 12:52] nbuytaert1 commented on #63
I have tried to reproduce your issue, but I couldn't find anything wrong. Feel free to create a test case on apex.oracle.com. That makes it easier for me to take a look at the problem.

[2016-08-05 16:53] nbuytaert1 commented on #51
I have copied your fix. It will be released in the next version of the plugin. Thank you for the detailed error explanation by the way. That saves me a lot of time :)

[2016-08-05 18:08] nbuytaert1 commented on #58
In version 3.0 of the Select2 APEX plugin, it is no longer possible to change the default separator (:). That's why it is important to prevent colons in your LOV return values.

[2016-08-05 18:08] #58 closed

[2016-08-05 18:10] #42 closed

[2016-08-05 18:11] #51 closed

[2016-08-05 18:11] #61 closed

[2016-08-05 21:53] dnovotny32 commented on #64
Do you think you will be able to get the lazy loading to work with “>>” in the display column?  Not having it really impacts performance of screens coming up.

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel. © Copyright 2016 CIGNA

From: Novotny, David W 584
Sent: Wednesda

[2016-08-06 11:03] nbuytaert1 commented on #55
I have added the ability to include a custom CSS file via _Shared Components > Component Settings_. It will be released in the next version of the plugin. Thanks for the feature request.

[2016-08-06 11:03] #55 closed

[2016-08-07 12:36] nbuytaert1 commented on #64
Hi David,

Download and install version 3.0.1 of the plugin to properly display the ">>" characters in combination with lazy loading. Make sure to set the _Escape special characters_ page item setting to _Yes_.

Can you let me know whether that works for you?

Thanks,
Nick

[2016-08-07 14:42] dnovotny32 commented on #64
Nick,

Thanks a lot for fixing it … it works really well!

I still can’t figure out how to change the font size … I have tried style= in a bunch of the CSS fields.  Can you tell me which field I should be making the change in … and an example of what to put in?  Sorry … I am a newbie when it comes to this stuff.

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do

[2016-08-08 00:57] akanzmeier opened #65 "Null Display Value is cut off"
When the plugin is set to a multi-value select list, the Null Display Value is cut off.
![select_list_feedback](https://cloud.githubusercontent.com/assets/14890238/17466617/0d2cd1cc-5cd9-11e6-922c-a45e02d4c788.jpg)

[2016-08-08 05:47] nbuytaert1 commented on #64
I'll need a little more info first.
- What APEX version are you on?
- What theme are you using?
- What _Look & Feel_ did you select under _Component Settings_?

[2016-08-08 07:04] nbuytaert1 commented on #65
I'll have that fixed in the next version of the plugin. For now, as a temporary fix, you can include the following CSS lines on page level to properly display the null display values.

`.select2-selection--multiple .select2-search--inline .select2-search__field {
  width: auto !important;
}`

[2016-08-08 12:23] mendesn commented on #63
The behavior is different on APEX 5, Im using 4.2.
But you can take a look, start with numbers...

NEOON
MENDES.NELSON@GMAIL.COM
1234

[2016-08-08 13:19] dnovotny32 commented on #64
Apex 5.0.3
Universal Theme - 42
Select2 (Look and Feel)

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel. © Copyright 2016 CIGNA

From: Nick Buytaert [mailto:notifications@github.com]
Sent: Sunday, August 07, 2016 11:48 PM
To: nbuytaert1/apex-select2
Cc: Novotny, David W 58

[2016-08-08 13:43] nbuytaert1 commented on #63
Your LOV query was invalid.
[code]
_Column name "ENAME" is already used in the SQL query. Make sure that you use unique alias names for your columns._

Always alias your LOV columns. That fixes the unique alias problem.
[code]
Then I notice the _error loading..._ message as described in one of my previous comments. While typing in a search term, it might happen that an AJAX request gets cancelled.

[2016-08-08 14:59] rimblas commented on #55
That's great Nick, thank you!

[2016-08-08 16:18] akanzmeier commented on #65
Thanks!!  The solution worked great!

[2016-08-08 17:13] nbuytaert1 commented on #63
Here's an [issue](https://github.com/select2/select2/issues/4402) from the official Select2 repository that discusses the same matter.

I'll increase the [delay](https://select2.github.io/options.html#a-request-is-being-triggered-on-every-key-stroke-can-i-delay-th) AJAX parameter from 250 to 400 milliseconds to prevent cancelled AJAX requests.

[2016-08-08 20:29] mendesn commented on #63
Hi,

Thank you for figure that out.
Great job

Thanks,
Nelson

[2016-08-09 05:24] nbuytaert1 commented on #63
Version 3.0.2.

[2016-08-09 06:02] nbuytaert1 opened #66 "Universal Theme Look and Feel no longer works"
Drop the _Universal Theme_ Look and Feel option.

[2016-08-15 07:43] turntablez commented on #66
Are you dropping this completely? Thanks

[2016-08-16 18:53] nbuytaert1 commented on #66
The _Universal Theme_ Look and Feel isn't working anymore since version 3.0.0 of the plugin. The HTML structure of the Select2 items has changed completely, and thus breaking the custom-written CSS code for the UT style. If I fix the CSS code this time, I'm pretty sure it will break again by future changes to Select2 and/or Universal Theme.

So I'd have to put quite some time in an easy-to-break f

[2016-08-17 05:57] nbuytaert1 commented on #64
Sorry for the delay.

I did a quick test on apex.oracle.com, but I noticed nothing abnormal. Here's how my test page looks like: https://apex.oracle.com/pls/apex/f?p=10486:1

Did you include custom CSS code on your pages? It is possible that the custom CSS code overwrites Select2 specific styles.

Can you replicate the font size issue on apex.oracle.com and grant me developer access? That allows m

[2016-09-01 20:41] dnovotny32 commented on #64
I just looked at your test page … notice how your label font size is different than you drop down font size … I am trying to get them to be close to the same.

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do not duplicate or distribute. Use and distribution limited solely to authorized personnel. © Copyright 2016 CIGNA

From: Nick Buytaert [mailto:notifications

[2016-09-06 11:49] nbuytaert1 commented on #64
That's actually standard behavior. If you want to change the font size of the drop down items, add the following CSS rule to your page(s).

[code]

[2016-10-18 04:52] brinal-dm opened #67 "Ability to list all values into the select list that partially match the characters- Enhancement"
Hi,

I want to list all options that matches the search term partially. For eg: If search term is "st hn", it should list all options that consists of st hn characters. Basically substitute space with like operator.

So far I have done below:
Created a dynamic action which makes ajax call on select list as below:
This makes calls to database procedure and return json data, Although the problem wit

[2016-10-18 06:08] nbuytaert1 commented on #67
I'll see if I can update the plugin to allow support for this kind of search algorithm. I'll keep you posted on the progress.

[2016-10-18 16:19] brinal-dm commented on #67
Thanks Nick for making time to look at this enhancement.

[2016-10-28 05:55] nbuytaert1 commented on #67
I have found a way to support the new search algorithm. I'll release a new version of the plugin in one of the next days.

Am I right that you're using version 2.4.3 of the Select2 APEX plugin? If so, will you be able to upgrade to the latest version of the plugin?

[2016-10-29 12:19] #64 closed

[2016-11-03 09:01] nbuytaert1 commented on #67
I released version 3.0.2 of the Select2 APEX plugin. It includes a new _Search Logic_ option: _Multi-word Search_. This search algorithm should fit your requirements.

[2016-11-03 09:01] #63 closed

[2016-11-03 09:02] #65 closed

[2016-11-03 09:02] #66 closed

[2016-11-05 02:08] brinal-dm commented on #67
Hey Nick,

First of all thanks a lot for new version. Sorry for the delay in replying to your comment, yes I am on version 2.4.3. Yes I am going to upgrade right now and will let you know about the results.

[2016-11-06 23:42] brinal-dm commented on #67
Hey Nick,

Worked really well, Also performance is good. Thanks for the new version.

[2016-11-07 06:18] nbuytaert1 commented on #67
Okay. Thanks for the feedback.
I'll close this issue now.

[2016-11-07 06:18] #67 closed

[2016-11-08 22:29] brinal-dm commented on #67
Hi Nick,

Is there a way that I can list the option that matched with my search term first in drop down list or say rather arrange the values in drop down list in order that I enter in my search term?

For eg: search term = 'hnwe 34' and LOV consists of
1. hnwe 34 stan for rl
2. 123233 hnwe test
3. hnwe 34 best

Then list the drop down value starting with hnwe 34 first and all the other options la

[2016-11-09 09:56] lelayof opened #68 "Select 2 with icons"
Hello,

We need to add font awesome icon before the text on the select 2 plug in (on a single select mode).
Tha actual workaround is not really satisfactory :
The font awesome class is concatened into the text and we recreate the select 2 object with a new formatResult/formatSelection parsing the text.
We use an older version of the plug-in and came into this bug while upgrading it (formatResult s

[2016-11-09 19:36] brinal-dm opened #69 "Arrange the drop down values in order of search term(Enhancement)"
Hi Nick,

Is there a way that I can list the option that matched with my search term first in drop down list or say rather arrange the values in drop down list in order that I enter in my search term?

For eg: search term = 'hnwe 34' and LOV consists of
1. hnwe 34 stan for rl
2. 123233 hnwe test
3. hnwe 34 best

Then list the drop down value starting with hnwe 34 first and all the other options la

[2016-11-13 07:58] farzadso opened #70 "Select List Jumping to The Top When Clicking On Scrolled Items"
Initially I would like to thank you for your contribution.

I have discovered an issue and it happens when I click on List Items below the list, it jumps up to the top of the list as you can see in the gif below :
![animation](https://cloud.githubusercontent.com/assets/19854715/20244375/36411b42-a994-11e6-843c-6b1205806647.gif)

[2016-11-14 05:37] brinal-dm commented on #69
Hi Nick,

I have found the solution.
I have added below piece to select2 item to sort as needed:
 sorter: function(results) {
    var query = $(''.select2-search__field'').val().toUpperCase();
       query =  query.replace(/ /g,'''')
       var c,d;
    return results.sort(function(a, b) {
    c = a.text.replace(/ /g,'''').toUpperCase().indexOf(query);
   d = b.text.replace(/ /g,'''').toUpperCase(

[2016-11-15 01:38] #69 closed

[2016-11-16 10:38] nbuytaert1 commented on #70
I'm afraid that's a bug in the Select2 jQuery plugin.
More information here: https://github.com/select2/select2/issues/1513

There's a hacky fix to prevent the jump. Execute the following JavaScript code on page load:

[code]
Replace P10_MY_SELECT2_ITEM with the name of your Select2 page item.

[2016-11-16 10:49] farzadso commented on #70
just tested, it still happens

[2016-11-16 10:54] farzadso commented on #70
could it be due to the fact that i'm using lazy loading?

![animation](https://cloud.githubusercontent.com/assets/19854715/20344511/4aa3ddba-ac08-11e6-8871-6c6066149052.gif)

[2016-11-22 15:41] rimblas opened #71 "Focus after selection - keyboard navigation broken"
On the UT, after a selection is made, focus is not left on the Select2 item, therefore it's not possible to tab to the next field on the page.
After a value is selected, focus should remain on the item. Select2 3.5.3 seems to behave this way already.

[2016-12-05 15:44] lelayof commented on #68
Can you give some feedback about the status of this request ?
If needed, I could help to add the feature.

[2016-12-06 05:16] farzadso commented on #70
sorry for messaging again, any updates?

[2016-12-07 10:21] nbuytaert1 commented on #68
Sorry for the delay.

I'm not sure what the best approach is in this case. But it seems that you have a clear understanding of how the Select2 plugin works. Can you come up with a solution yourself? Feel free to create a pull request.

[2016-12-15 09:18] nbuytaert1 commented on #70
Sorry for the delay.
You are right, the fix doesn't work in combination with lazy loading.
I have no other solution for the moment. It's a bug in the Select2 plugin, which makes it difficult for me to fix.

[2017-01-17 14:54] sokosp opened #72 "Select2 V3 doesn't work on modal pages in Apex5.1"
Hi Nick
again great work and thanks for your efforts.
We tried to use your new Select2 on our Apex5.1 app we are testing, but for some reason, on modal pages, it won't let you type anything in the search box. Have you seen similar behaviour?

![clipboard012](https://cloud.githubusercontent.com/assets/21083416/22025236/8f90c9ee-dcd5-11e6-97f4-93d7d9997b2c.jpg)

(Select 2.6.4 worked well, but it did

[2017-01-21 11:44] sokosp commented on #72
Hi Nick,
I made a page for you here to test it (public page) on Oracle apex.

https://apex.oracle.com/pls/apex/f?p=58302:22

As you can see on the page the Select2 you can type and search.
On the modal, same Select2 doesn't let you type.
I m surprised nobody else has noticed this, did you see it?

[2017-01-22 11:34] nbuytaert1 commented on #72
Thanks for the bug notification.

I believe this problem is only occurring when you're using a Select2 page item inside an **inline dialog** region. Select2 items inside modal dialog pages do not experience this problem. Can you confirm this?

I'll have to add an extra option to the Select2 plugin initialization to fix this: _dropdownParent_.
https://select2.github.io/options.html#dropdownParent

[2017-01-22 13:23] nbuytaert1 opened #73 "Interactive Grid support"
Use the **Procedure** API interface instead of the deprecated functions. That's necessary to support Interactive Grid columns.

[2017-01-22 13:39] nbuytaert1 opened #74 "Switch to "File URLs to Load""
More info: http://www.inside-oracle-apex.com/apex-5-0-declarative-definition-of-css-and-javascript-files-to-load-for-a-plug-in/

[2017-01-23 15:00] sokosp commented on #72
Yes that is correct, inside an inline dialog region (modal)
do you need a 4.2 installation? i can prepare a VM for you if you want, let me know.

[2017-01-23 19:23] nbuytaert1 commented on #72
Thanks for the offer, but that's not necessary.
I have some issues with my 4.2 environment right now. I hope it will be fixed by tomorrow.

[2017-01-24 18:05] nbuytaert1 commented on #71
That's a bug in the Select2 jQuery plugin.
https://github.com/select2/select2/issues/4384
Happens only for single-value page items.

Fixed by adding the following IF condition:

[code]

Thanks for the bug notification, Jorge.

[2017-01-24 18:51] nbuytaert1 commented on #71
Fixed in release version 3.0.3.

[2017-01-24 18:51] #71 closed

[2017-01-24 19:01] nbuytaert1 commented on #72
I released version 3.0.3 of the Select2 APEX plugin, which includes an _Extra Options_ attribute. This new attribute lets you add any arbitrary Select2 jQuery plugin options. Add the following line for Select2 page items that are part of an _Inline Dialog_ region:

`dropdownParent: $('.ui-dialog')`

That should fix the search box issue.

[2017-01-24 19:01] #72 closed

[2017-01-25 13:38] sokosp commented on #72
Thank you Nick,
Where do you add this code: dropdownParent: $('.ui-dialog') ?

(sorry i m not very experienced with js/scripts apart from Apex developing)

[2017-01-25 14:10] nbuytaert1 commented on #72
Copy and paste `dropdownParent: $('.ui-dialog')` in the new Extra Options item plugin attribute.

![image](https://cloud.githubusercontent.com/assets/4996854/22293533/46ab7404-e310-11e6-940f-500f9ef78b5e.png)

[2017-01-25 14:26] sokosp commented on #72
Thanks monsieur!

Now it has another problem, SELECT2 doesn't start searching when users enter letters in capitals.
Works only with small letters.
I m trying to re-create it and make a report for you.
Any idea?

[2017-01-25 20:49] nbuytaert1 commented on #72
What _Search Logic_ option did you select for your Select2 page item? _Contains & Ignore Case_ is the default value and should let you search in a case-insensitive manner.

[2017-01-30 10:20] sokosp commented on #73
Hi Nick,
How to use the procedure API?
we are testing now Sel2 on I.G's.

[2017-01-31 06:16] nbuytaert1 commented on #73
we are testing now Sel2 on I.G's.

I have to change the plugin source code. The current version of the Select2 plugin uses the deprecated **Function** API interface, which doesn't support IG. In the next version of the plugin, I'll change the API interface from functions to procedures.

[2017-02-09 17:32] rimblas commented on #68
I've added a `Page Load` Dynamic Action that defined the templateSelection and templateResult functions (the new version names for formatResult/formatSelection I believe)
In my Page Load DA I have

[code]

My function looks like this:
[code]

[2017-02-09 17:39] rimblas commented on #23
Have you done any research on this?  I didn't want to put a lot of research into something you already comprehend.  ;-)
Do you have one-off code to do it on a per Select2 basis already?

[2017-02-10 06:29] nbuytaert1 commented on #23
I didn't do any research on this one. I actually don't think there's a lot of need for this feature since you can always rely on Cascading LOV's. Are there any other situations where you want to manually refresh a Select2 item?

[2017-02-10 10:56] lelayof commented on #68
It is our current workaroud to display the icon. The issue is we are recreating the select2 object without the parameter set in APEX losing the purpose of the plug-in (a simple select + importing select2 library would work).
I am still trying to find the best way to implement it (not much space or attribute left by the way), but I cannot spend as much time on it as I would.

[2017-02-10 14:28] rimblas commented on #23
Here's my use case. Easier to show you.
![userroles](https://cloud.githubusercontent.com/assets/2160702/22830030/b23823b4-ef6a-11e6-95b3-34cd96b08d3f.gif)

In this case, for role assignment, I only have 3, but when assigning Users to a Role I select from many more elements and the Select2 would be great.

[2017-02-13 06:41] nbuytaert1 commented on #68
In the latest version of the Select2 APEX plugin (3.0.3), I created an _Extra Options_ attribute which can be used to add any arbitrary Select2 options to the page item. Can't you solve the icon issue by using this _Extra Options_ attribute?

[2017-02-13 10:48] lelayof commented on #68
Thanks, I tested this and it works perfectly.

I added a third extra option otherwise the select2 was escaping the HTML tag :
`escapeMarkup: function(text) {return text;} // escape nothing.`

[2017-02-13 10:48] #68 closed

[2017-02-21 11:29] AdvenD opened #76 "issue at multiple values load"
I try everything but without success.
I separate value with colon to the page item (e.g. 7839:7521) but nothing at all. If there are more than one value,it show nothing. If there only one,it show  the first value.
I work on 5.1

[2017-02-22 06:31] nbuytaert1 commented on #76
Are you setting the value client or server side? You can set multiple values using JavaScript like this:

`apex.jQuery("#P10_MY_ITEM").val(["7839","7521"]).trigger("change");`

Or you can use a default value for the page item. In that case, you just have to enter _7839:7521_ as a static value.

[2017-02-22 06:52] AdvenD commented on #76
Goodmorning,
I load the values from the server side. It works with static values but thats not our target. The jquery code is a step forward. Now i must try to make this work with apex item array.

Thanks,
any further help will appreciate,
Jamew

[2017-02-22 06:57] nbuytaert1 commented on #76
Can you reproduce your issue on apex.oracle.com and grant me workspace access? That's the easiest way for me to help you further.

[2017-02-22 07:19] AdvenD commented on #76
To be honest and not be annoying, you gave me some solution to  solve my problem Nick, so close the issue.   To be more specific, now i must try to give value from a apex text field with array(1234:1232:1242),which load values from table.

By the way you gave us a lot of fuctionality with your plugins. Keep the good work.

[2017-02-22 07:25] nbuytaert1 commented on #76
Use a hidden item on your page that contains the values (for example: 16:15:117). Then you can use the JavaScript split function to transform the values into an array:

`apex.jQuery("#P10_MY_ITEM").val($v("P10_HIDDEN_ITEM").split(':')).trigger("change");`

[2017-02-22 07:36] AdvenD commented on #76
Solved. Thank you very much!!!

[2017-02-22 07:46] #76 closed

[2017-03-06 10:18] farzadso commented on #73
Just changing it from function to procedure doesn't do the trick Nick, I think some changes need to be made in the code too, because after changing it, it produced this error : PLS-00306: wrong number or types of arguments in call to 'RENDER'

[2017-03-06 13:34] rimblas commented on #73
@farzadso, you're correct, check out this discussion: https://community.oracle.com/message/14242489#14242489

[2017-03-06 14:15] farzadso commented on #73
@rimblas Thanks Jorge, I guess i'll just wait for the project to be updated whichever method is chosen to overcome the error. Thanks for the interesting link

[2017-03-07 07:25] nbuytaert1 commented on #73
I got the Select2 plugin working in an IG now, but I'm not really happy with how Select2 items look like in the IG. Here's an example: https://apex.oracle.com/pls/apex/f?p=47839:20

The _department_ column in the _Interactive Grid Support_ region is based on the Select2 plugin. You'll notice that the Select2 items don't integrate very well with the IG.

I guess I'll have to make some CSS and/or Ja

[2017-03-07 13:27] JuergenSchuster commented on #23
We also have the need of a manual refresh on the Select2 without Cascading LOV for a Single Page Application with a lot of logic :-)

[2017-03-07 13:39] farzadso commented on #23
@JuergenSchuster Have you tried destroying and reconstructing the select2?

[2017-03-07 15:17] rimblas commented on #73
Oh interesting, yes it will need a few changes.
No creative ideas here.  Looks like there are a few issues at play, not only CSS related.

[2017-03-07 19:16] JuergenSchuster commented on #23
@farzadso what exactly do you mean by that? Can you make an example?

[2017-03-08 05:10] farzadso commented on #23
@JuergenSchuster I'm refering to this :
`$("#dropdown").select2("destroy");

$("#dropdown").select2();`

These two discussion on stackoverflow might help :
http://stackoverflow.com/questions/16480910/update-select2-data-without-rebuilding-the-control
http://stackoverflow.com/questions/17818210/how-to-refresh-select2-dropdown-menu-after-ajax-loading-different-content

[2017-03-08 05:13] farzadso commented on #73
@nbuytaert1 Have you placed it in a Text Area. I agree with Jorge @rimblas , there's more than CSS by the looks of it.

[2017-03-08 22:20] maxime-tremblay commented on #23
@nbuytaert1 @rimblas @JuergenSchuster @farzadso
Here's how I worked around that previously.

I have my select2 items defined just as usual. For the one that I need to manually refresh (eg. P1_EMPNO)  I create an hidden dummy item to trigger the item's refresh (eg. P1_EMPNO_TRIGGER). I then set the "Cascading LOV Parent Item(s)" as the hidden item and set the "Items to Submit" to what is required i

[2017-03-09 04:33] farzadso commented on #23
@maxime-tremblay Yes, I've used your method too, i confirm it works flawlessly!

[2017-03-09 19:15] JuergenSchuster commented on #23
But that finally shows us we really would need a native method to manually refresh Select2 :-)

[2017-03-09 19:18] rimblas commented on #23
Agreed.  As nice as the hack is, it is still a hack.

[2017-03-13 13:37] pettinger opened #77 "Setting Item Value from PL/SQL"
Hi,
i have an issue when setting the ITEM Value out of an PL/SQL Procedure using       APEX_UTIL.SET_SESSION_STATE('P35_ARBEITSPLATZGRUPPE',coalesce(rTmpStechung.STNRMASCH, rTmpStechung)).
The value is shown in session state of the item, but the lov does not select the according row. it stays empty. but as soon as you drop down the list, the correct row is selected.
![select2](https://cloud.github

[2017-03-14 07:23] nbuytaert1 commented on #77
Hi Peter,

Are you executing `APEX_UTIL.SET_SESSION_STATE` as part of a PL/SQL dynamic action? In that case, you'll have to add an _Execute JavaScript Code_ action after the _Execute PL/SQL Code_ action. Add the following JavaScript code to actually set the item's value in the Select2 item.

[code]

Also, it looks like you are using an old version of the Select2 APEX plugin. Is it possible for you

[2017-03-16 06:56] pettinger commented on #77
Thanks for the reply.
Adding the Javascript action did the trick. But to make it work, i had to change the "wait for result" property of the pl/sql action to "yes". took me some time to figure that one out.

Peter

[2017-03-16 06:56] #77 closed

[2017-03-20 15:33] vincentmorneau opened #78 "Lazy Loading & Diacritics"
Default behavior is to ignore diacritics, which is good. When using Lazy Loading we can't control diacritics.

Without Lazy Loading: https://demo.insum.ca/ords/f?p=131:1
With Lazy Loading: https://demo.insum.ca/ords/f?p=131:2

Both examples, you can use Country `Canada` and Province `Québec`.

[2017-03-20 18:46] vincentmorneau commented on #56
+1. It is currently not possible to trigger a child to refresh when the parent has changed through JavaScript.

Example: `apex.item("P1_PARENT_LOV").setValue("");` does not trigger "P1_CHILD_LOV" to refresh.

[2017-03-20 19:00] vincentmorneau commented on #56
Nevermind. I forgot to set "Optimize Refresh" to "No" too. Works on my end now. The X works too.

[2017-04-10 20:01] shawty commented on #70
Just for reference, this is ALSO happening with non multiple select drop downs.

[2017-04-11 05:41] farzadso commented on #70
I've gone through the entire source code over and over again. Modified it in several places. I can't find a workaround @shawty

[2017-04-13 07:15] nbuytaert1 commented on #78
The Select2 library takes care of the diacritics search. I didn't support this search algorithm in the PL/SQL code though. When using Lazy Loading, the filtering happens in PL/SQL, thus with diacritics.

Do you know a way to convert all "special" characters to "normal" characters in PL/SQL?

[2017-04-13 12:02] vincentmorneau commented on #78
Two options comes to mind:
1. select convert('Québec', 'US7ASCII') diacritics from dual;
2. select utl_raw.cast_to_varchar2(nlssort('Québec', 'nls_sort=binary_ai')) diacritics from dual;

[2017-04-20 09:36] oklimberg opened #79 "Wrong content type of lazy loading response"
Hi,

when using this plugin with lazy loading enabled, the response of the AJAX call has the content type
`Content-Type: text/html;charset=UTF-8` instead of `Content-Type: application/json`.
Is there a way to change this?

[2017-04-24 05:33] nbuytaert1 commented on #79
Hello,

Thanks for the pull request.
I'll merge it with the next release of the plugin.

Nick

[2017-04-29 16:52] martindsouza opened #81 "Fix Markdown"
See: https://github.com/blog/2333-a-formal-spec-for-github-flavored-markdown

[2017-05-08 20:57] mfreu opened #82 "When using Select2 in an interactive grid in single selection mode, selection jumps to the lower left corner when typing in search bar"
Hi,

When using Select2 in an interactive grid (Apex 5.1) in single selection mode, selection jumps to the lower left corner when typing in search bar.

As mentioned this only happens when using the single selection mode.

Maybe there is a quick workaround?

Cheers,
Mirko

[2017-05-09 04:11] farzadso commented on #82
I haven't tested select2 on IG, does it render correctly?

[2017-05-09 04:48] mfreu commented on #82
Yes it does. But as I said, the select list jumps to to lower left Corner, when typing in the search bar.

[2017-05-15 08:10] liorwirt opened #83 "choose long value from select2 lov"
I am using select2 3.0.1 in apex 5.1
When i choose **long** display value from lov , I don`t see the selected value in the field on the screen.
How can i  show partial value in the field ?

thanks
lior

[2017-05-15 08:29] #83 closed

[2017-05-25 00:45] advancedits commented on #82
I'm having same issue as @mfreu , when you start typing so it can auto suggest, the select list jumps to the bottom left

[2017-05-25 00:56] advancedits commented on #82
I guess this is still an open issue #73

Here's a screenshot on how it looks when you type in the search bar using the sample application
https://apex.oracle.com/pls/apex/f?p=47839:1:104354115372550:::::

<img width="1339" alt="screen shot 2017-05-24 at 5 53 49 pm" src="https://cloud.githubusercontent.com/assets/11402621/26431523/4f3c46fa-40aa-11e7-9af4-29d59c9b01de.png">

[2017-06-19 02:21] jeffreykemp opened #84 "Quickpick no longer working in 3.0.3"
Select2 plugin 3.0.3 installed
Apex 5.0.3 (also reproduced in 5.1.2)

Lazy Load = Yes
Show Quick Picks = Yes
Label 1 = description of chosen value
Value 1 = code of chosen value

Clicking the quickpick seems to fire any dynamic actions but the value of the item is not changed nor shown.

Demo: https://apex.oracle.com/pls/apex/f?p=67465:3:0

[2017-06-19 02:22] jeffreykemp commented on #84
This was previously working when we were on Select2 2.6 previously.

[2017-06-21 03:02] jeffreykemp commented on #84
Workaround: remove the Lazy Load option on the item

[2017-07-11 06:43] tuanphat1303 commented on #82
Please help me , I've got same issue . Any suggest or fix for this ? :'(

[2017-08-05 19:02] Ora-solution commented on #82
Hi Nick,
I'm facing same issue. Your cooperation in this regard will be highly appreciated.

[2017-08-07 11:52] nbuytaert1 commented on #82
I'm getting close to a 100% working solution. I'll release a new version of the plugin by the end of the week.

I'm going to close this issue now since it's a duplicate. You can subscribe to issue #73 for further updates.

[2017-08-07 11:52] #82 closed

[2017-08-07 11:53] nbuytaert1 commented on #73
I'm getting close to a 100% working solution. I'll release a new version of the plugin by the end of the week.

[2017-08-07 11:55] #79 closed

[2017-08-07 11:57] nbuytaert1 commented on #81
Thanks for the remark, Martin. I've changed the Markdown syntax.

[2017-08-07 11:57] #81 closed

[2017-08-08 08:30] nbuytaert1 commented on #84
Hi Jeffrey,

Apologies for the late reply.

The action behind the Quick Pick options is the standard `$s` function. In some cases, the `$s` function will successfully set the value for a Select2 item. However, using more advanced plugin settings will cause the Quick Pick options to no longer work. The reason is that "advanced" Select2 items need custom JavaScript code to set their value. When lazy

[2017-08-16 06:03] mfreu commented on #73
Great to hear this fantastic News :-)

[2017-08-29 07:56] APEXGru opened #85 "Required property is not used in plugin"
The new "Value Required" property is used to create the HTML 5 required attribute on a regular APEX element. The Select2 plugin needs to respect that setting as well (thus throw in an additional "required" attribute).

[2017-09-01 09:23] a1b0r commented on #73
There is any news about v3.1.0? What about release?

[2017-09-01 12:31] pettinger commented on #73
I could use IG support very well. Any idea when this will be available?

[2017-09-01 12:37] nbuytaert1 commented on #73
I'm still having a couple of issues with IG support. The Select2 component and IG doesn't play together very well. I don't have that much time work on it, but I hope to release a working solution in one of the next weeks.

[2017-09-15 14:44] 77capr opened #86 "Lazy-loading: small change suggestion for a big performance gain"
I am looking up names in a 150'000 persons directory using lazy loading. My page load went from several seconds to instantaneous through this modification:
Around line 78 of the 3.0 PL/SQL where it reads:
  `l_lov := apex_plugin_util.get_data`
it reads all the data into memory even though in the lazy-load case it never uses it. So, move that call to line 122 inside the
  `if l_lazy_loading is null

[2017-09-15 20:05] rimblas commented on #86
Ah, very nice find!

[2017-09-16 04:48] farzadso commented on #86
@77capr why don't you create a pull request for nick to merge?

[2017-09-18 07:29] 77capr commented on #86
@farzadso OK, created my first ever pull request, hope I did it right

[2017-09-20 04:03] farzadso commented on #86
@77capr nice! checked it out. Let's see if Nick decides to merge it

[2017-09-24 22:34] tonyc555 opened #88 "Select2: Non-Functional in a Maximised Region"
If the Select2 plugin is used in a Theme 42 application in a region that has the "Show Maximize Button" template option the drop-down and text selection does not appear when the region is maximized. The Select 2 item basically becomes non editable.

The problem manifests itself in Single Value and Multiple Value select lists. I haven't tried it with tagging support.

Reproducing the problem: Creat

[2017-09-25 06:02] onlygecko commented on #86
@77capr : You answered the question I was going to ask with an implementation suggestion.  Thanks. :-)

@nbuytaert1 : Can You estimate if and when the commit request will be merged and a new version will be released?

[2017-09-25 19:41] maxime-tremblay commented on #88
Hello @tonyc555

Until the fix is included in the plugin, you can add the following CSS to your application.

[code]

Regards
Maxime

[2017-09-25 22:22] tonyc555 commented on #88
Hi Maxime,

I found another workaround that also fixes the problem of the drop down becoming displaced when using pinch-zoom on mobile devices, described here: https://select2.org/troubleshooting/common-problems#the-dropdown-becomes-misaligned-displaced-when-using-pinch-zoom

Add a static id to the region where the Select2 is contained and use the following as an Extra Option

[code]

[2017-09-26 06:36] nbuytaert1 commented on #86
@77capr: Thanks for the pull request. I'll try to merge it this evening.

@onlygecko: I'll release a new version of the plugin this weekend.

[2017-09-28 18:27] #84 closed

[2017-10-01 07:56] nbuytaert1 commented on #85
Thanks for the remark. I added the following IF condition:

[code]

This issue will be included in release 3.1.0.

[2017-10-01 07:56] #85 closed

[2017-10-01 08:02] nbuytaert1 commented on #86
@77capr: I merged your pull request. It will be released in version 3.1.0.

Thanks again for creating the pull request.

[2017-10-01 08:02] #86 closed

[2017-11-02 16:04] achamaux opened #89 "Cascading LOV in IG"
Hi,

I found that issue when I try  a SQL QUERY like this :
`select g_id as DISPLAY_VALUE, g_id as RETURN_VALUE from gare where g_batiment = :dc_batiment`

where `:dc_batiment` is a column of the IG. In fact, the list is empty. When i use the original Select List it works fine.

Do you know a trick to succeed to refresh the list correctly ?

[2017-11-14 10:30] osydorchuk commented on #73
What about plugin release with IG supports? Maybe you need any help?

[2017-11-21 06:09] orabin opened #90 ""Return Value Based on" in 5.1"
Did not find in the latest version of the 5.1 plug-in setting "Return Value Based on"

How to use it?
I would like to read the full documentation on the plugin :)

[2017-11-21 18:12] orabin commented on #90
Removed the Return Value Based On attribute
:)

[2017-11-21 18:12] #90 closed, assigned to nobody

[2017-11-28 00:32] dnovotny32 commented on #64
Nick,

Hey – long time no talk … I still love the SELECT2 plug-in … question for you:  Has select2 been updated (fixed) so that tagging doesn’t allow duplicates – example:

Free
free
frEE

the tag would only allow the first one to be stored so that I don’t end up with 3 different versions.  Does that make sense?

David Novotny
Cigna
ph: 303-566-5665
Confidential, unpublished property of CIGNA. Do

[2017-12-05 08:19] nbuytaert1 commented on #64
Not yet, but it will be included in the next release.

However, the new release for the Select2 plugin is being blocked because of Interactive Grid support. I still didn't succeed to get IG support fully working...

[2017-12-05 08:24] nbuytaert1 commented on #89
There's currently no IG support. It should be included in the next release of the plugin (if I get it to work properly).

[2018-01-14 08:33] MHFOUAD opened #93 "when I use dynamic action event (change) it causes disappearing the parent (bug)"
I use radio group to choose a value and according to this an item of three (which are of **select2** type) appears and the other 2 items disappear and that works fine and that's what I want. well, the issue now is that when I use a dynamic action  of event (change) on one of them, then when that event happen suddenly the radio group disappears and that's a weird action to happen as I did not assig

[2018-01-15 09:52] ivanovpavel1983 opened #94 "Select2 as Shuttle"
Hello. How can I use this plugin as shuttle in the apex app?
Do you have a instruction?
Thanks!

[2018-01-15 12:13] glebovpavel commented on #94
Hi Pavel,

You can use Select2 plugin in Multy-Select mode instead.

Regards

[2018-01-22 20:30] bjshumway opened #95 "Remember Past Choices and Show them on top"
Hello,
First off, I love this plugin. I used it everywhere :)

I thought it would be a cool feature to remember the logged-in user's last selection(s), and display them on the top.

There could be the option to have it only remember 1, or remember x where x is the number of options.

I'm not sure how this would interact with groupings.

What do you think?

[2018-02-12 08:49] p3t3r commented on #86
Is this code in the plugin plsql?
I see the change in the source code, but looking at the source of the plugin in APEX, this change is not there.
I'm having issues with performance although lazy loading is set to "Yes".

[2018-02-19 12:51] etaygudai commented on #73
wish too :-)

[2018-02-28 22:29] travis9999 opened #96 "Create clickable link on a single or multi-select"
Is it possible to create a clickable url on a single or multi-select  Select2?

I found this jsFiddle example:
[http://jsfiddle.net/jEADR/406/](url)

But I have not been able to find the correct syntax in APEX to make this work.
Example:
$("#P4101_SIBLING_APPS_LINK").select2({
    placeholder: "Select teachers",
    width: "resolve",
    formatSelection: function(term) {
        return "<a href='#

[2018-03-01 00:40] rimblas commented on #96
I think you're on the right track.  Have you tried naming the `formatSelection` function and/or do you need a formatResult function?
I don't have an app with 2.6.4 running any more, but here's an example of what I did back then.  I would re-init the Select:

[code]

For completeness, with the 3.0.3 version is very easy! Go to "Extra Options" and specify a `templateResult` that calls your function.

[2018-03-01 16:42] travis9999 commented on #96
I'm stuck on how to get the select2 to re-init.
I currently have the code in the Execute when Page Loads section.
I put the code inside of a document ready section in case that was needed.
I've done something similar to this with a hidden select2 in a page with a tabular form.

But, I get the following exception:
Uncaught query function not defined for Select2 P4101_SIBLING_APPS_LINK
prepareOpts |

[2018-03-01 18:02] travis9999 commented on #96
Here is the current state of the control:

<div class="t-Form-fieldContainer t-Form-fieldContainer--stacked   t-Form-fieldContainer--stretchInputs t-Form-fieldContainer--large" id="P4101_APPLICATION_LINK_APPS_CONTAINER">
    <div class="t-Form-labelContainer">
        <label for="P4101_APPLICATION_LINK_APPS" id="P4101_APPLICATION_LINK_APPS_LABEL" class="t-Form-label">Child Applications:</label>

[2018-03-14 08:11] arnoaut commented on #73
have news about the new version?

[2018-03-14 08:19] glebovpavel commented on #73
@arnoaut You can try https://github.com/glebovpavel/apex-select2 - this pull request in the main branch is waiting for approval.

[2018-03-16 06:50] kinju4374 opened #97 "Using it as Cascading Lov doesn't refresh on page load."
I have used select2 plugin to display the list of products which are dependent on sub-category and storing the selection in the database. Next time, when same page is open, it displays all the data fine which are selected. Now, next when I add a new product under that same sub-category which is already selected and then refresh the page, that new product doesn't appear in select2 plugin. It works

[2018-05-02 09:34] JacoFourie opened #98 "Add or Select ?"
Hi.

I see on the sample page you can set the plugin to act as a combobox where you can select a value from the list or add a new one by typing the value. How do you set-up the plugin to do that ?

[2018-05-03 05:59] nbuytaert1 commented on #98
Change the "Select List Type" setting to "Tagging Support" on your page item.

"When tagging support is enabled, the user can select from pre-existing options or create new options on the fly."

![image](https://user-images.githubusercontent.com/4996854/39561749-ee7cb2d4-4ea7-11e8-9bea-db733ae7cb9f.png)

[2018-05-03 07:30] JacoFourie commented on #98
Hi. Thanks for the feedback. I am looking for a Combobox. I can not understand why Apex does not have one out of the box. If I change it to Tagging then I can select more than one from the list or add more than one. The user needs to pick one item or enter a new one. But one item only. Can this plugin do that ? Kind Regards.

[2018-05-03 07:41] JacoFourie commented on #98
Aaaa OK You need to make the selection size 1. Thanks for this super cool plugin.

[2018-05-10 11:24] kinju4374 opened #99 "More loading time in Debug"
Hi, When I was testing performance improvements on my page the select2 plugin code is showing the highest time-consuming process. Can you please suggest what are the steps to solve it? I can't edit the code as its plugin code and not added by me.

[2018-05-10 14:19] rimblas commented on #99
This is a pretty common issue in APEX. The best practice for performance is to grab all that code from the plugin and place it in a package.  If the plugin comes with its own package I keep that. Otherwise, I create some APP_PLUGINS package and place multiple plugins in there.

The reason for the slowness is that all the PL/SQL code for the plugin needs to be hard parsed and compiled on the fly ev

[2018-05-11 05:57] kinju4374 commented on #99
Thanks for the response. But, how to call this plugin in APEX then? Do I need to do it dynamically?

[2018-05-11 12:08] rimblas commented on #99
Here's a screenshot of what I've done in one app.  All the code was bundled in a `px_plugins` package (`px` denotes my system prefix).
![image](https://user-images.githubusercontent.com/2160702/39923547-bf5d8bfc-54e9-11e8-8569-51025570bedd.png)

As you can see I have a `px_plugins.select2_render` and `px_plugins.select2_ajax`.  I did rename the calls from the plugin `render` and `ajax` respectivel

[2018-05-29 05:57] JacoFourie opened #100 "Another Question : How do you set the plugin value?"
We have a dialog page where you can select a list of people to send a email to. Let say you choose 2 people. When the dialog returns the values they are sent in this format.

[code]

Now let say the user forgot to select a person and now the user wants to add another person so you send the value back to the select2 item.

Then only the first name is shown not both of them.

So my question is what

[2018-05-31 08:27] nbuytaert1 commented on #100
Returning a colon delimited list of values is the right way.

How do you set the value of the Select2 page item? Are you using the "Source" setting on the page item, or are you using a dynamic action/JavaScript?

You might want to read the following StackOverflow post if you're setting the values client-side:
https://stackoverflow.com/questions/24905607/cant-set-multiple-values-in-select2

[2018-05-31 08:31] #98 closed, assigned to nbuytaert1

[2018-05-31 15:48] JacoFourie commented on #100
Hi. Thanks for the reply. The Select2 item is on a dialog. The item gets its value from a page that calls the dialog using a button. On the button you can specify the source item on the page and the target on the dialog. The target on the dialog is the Select2 item.

[2018-06-08 17:49] alanlawlor opened #101 "select2 stopped working after upgrade from APEX 4.2 to APEX 5.1"
I am using Theme 25 Blue Responsive and made no attempt to switch to Universal Theme

Simply upgraded APEX from 4.2 to 5.1. select2 stopped working.

I have tried import of latest 3.0.3 version but still not working

The page item I am examining would normally have the "select2-container" class, but this is not visible in the HTML on the upgraded version. In addition Firefox show the following on

[2018-06-11 13:17] JacoFourie commented on #100
We have this working now. Thanks for a cool plugin.

[2018-06-11 13:17] #100 closed, assigned to nbuytaert1

[2018-06-12 06:06] nbuytaert1 commented on #101
It looks like APEX can't access the plugin static files. Did you complete all required steps to successfully upgrade APEX? This is usually the culprit of this kind of error.

Some helpful resources maybe:
http://www.inside-oracle-apex.com/apex-5-0-there-are-issues-with-the-configuration-of-the-static-files-in-your-environment/
https://community.oracle.com/thread/3774608

[2018-06-13 12:03] alanlawlor commented on #101
Thanks, Nick

That was the problem. We found MOS Doc ID 2004672.1 which sorted the problem

[2018-06-13 12:03] #101 closed, assigned to nbuytaert1

[2018-06-19 20:10] sejal27 opened #102 "Warn on unsaved changes doesn't work"
I replaced my current multi select item with select 2 plug in and it had Warn on Unsaved Changes set to Ignore. But when I refresh the page, it still prompts for unsaved changes.

[2018-06-23 07:56] Inzy07 commented on #70
click event is not working in apex2 plugin
can anyone tell me quick fix for this?

[2018-07-17 20:54] HeshamAbuElenain commented on #73
Any new news about this bugs? @nbuytaert1

[2018-08-06 10:27] JacoFourie opened #103 "Select2 and Required - Floating issue"
Hi.

We are using Apex 18.1 and if you change the Required Template to floating the text of the label and the selected item will be stacked the one over the other. Thus you can not read the text very well.

![image](https://user-images.githubusercontent.com/17771641/43711774-1e944a88-9974-11e8-9b90-34f2c79cc30d.png)

[2018-08-16 09:57] nbuytaert1 commented on #103
Someone forked this repo and fixed the floating issue:
https://github.com/Zdro/apex-select2

Demo: https://apex.oracle.com/pls/apex/f?p=53730:1

[2018-08-16 14:18] JacoFourie commented on #103
Mmmmm I imported that Plug-in but still have the same issue.
Thanks for the link.  The Demo works correctly but not on our side.
I imported and replaced the old one. Is there something else I need to do ?

Regards.

[2018-08-17 06:22] nbuytaert1 commented on #103
The GitHub repo includes an export file of Zdro's demo application. It's located in the _src/main_ folder. The name of the file is f2001.sql.
https://github.com/Zdro/apex-select2/tree/master/src/main

If you download and import that application, you should have a working example of the floating labels in combination with the Select2 plugin. You can then export the plugin from the demo application

[2018-08-18 19:26] PartyPenguin commented on #103
I had to change Look And Feel Setting under Shared Components -> Component Settings -> Edit Select2
to 'Universal Theme'
Now its working for me

[2018-08-20 08:07] JacoFourie commented on #103
Aaa OK thanks for that. Now I see that the Width attribute is not working. If you set it to required - floating the item will span the full screen. Mmmm let me play some more with it.

[2018-08-29 08:11] #103 closed, assigned to nobody

[2018-09-20 07:55] JacoFourie opened #104 "Can not add new items on IE 11"
Hi. I am able to add new items on all other browsers but IE 11 will not allow me to add a new item. I can only select from the drop down. How can we get the plugin to work on IE as well ?

[2018-09-21 06:37] JacoFourie commented on #104
It seems to be a issue with tagging support.

[2018-09-25 07:15] cb-logistics opened #105 "APEX 5/18: apex_util.string_to_table is deprecated"
Hi,

As of APEX 5 api  APEX_UTIL.STRING_TO_TABLE is deprecated and Oracle recommends to use APEX_STRING.SPLIT.

[2018-09-28 13:51] JacoFourie commented on #104
Hi here is a sample app

https://apex.oracle.com/pls/apex/f?p=96087:2

If you use IE you will see what the issue is. You can not type a new value.

[2018-10-17 11:53] JacoFourie opened #106 "Long Text items not wraping"
Hi. Is there a way to have the text wrap like in the dropdown ? It is now extending past the page item.

![image](https://user-images.githubusercontent.com/17771641/47084481-e3088c80-d213-11e8-91d2-21bd3a82f1ac.png)

In the dropdown it is correct

![image](https://user-images.githubusercontent.com/17771641/47084511-f6b3f300-d213-11e8-9aa3-dfa6155c1ec0.png)

[2018-10-17 12:43] JacoFourie commented on #106
I found this fix. How do I get the CSS to work with the plug-in ?
https://github.com/select2/select2/issues/4585

[2018-10-17 13:20] JacoFourie commented on #106
OK I got it working.

I added this CSS to the page in-line and now it wrapps

[code]
![image](https://user-images.githubusercontent.com/17771641/47089010-24069e00-d220-11e8-82a6-3d8c9ebed4e6.png)

[2018-10-17 13:20] #106 closed, assigned to nobody

[2018-11-02 13:40] ericyuri opened #107 "SelectList2 on Apex 18.2"
Hi, did you try to use selectlist2 on Apex 18.2 ? Do you known any turnaround solutions for it ?

Thank you

![image](https://user-images.githubusercontent.com/13050062/47918531-3240f500-de83-11e8-982f-8bff4d51f2af.png)

@maxime-tremblay @rimblas @martindsouza @nbuytaert1

[2018-11-02 13:51] rimblas commented on #107
There must be something else at play here.  The demo app works fine http://apex.oracle.com/pls/apex/f?p=64237:20
Or maybe it's because the demo app is using jQuery Migrate

[2018-11-02 14:21] ericyuri commented on #107
Hi @rimblas, the problem was on the ords. thank you

[2018-11-13 11:11] JacoFourie commented on #107
OK then you should close the issue.

[2018-11-13 12:17] #107 closed, assigned to nobody

[2019-03-13 10:23] JacoFourie commented on #104
OK so they found the issue in the select2 code. How do we bring it across into the plug-in ?

https://github.com/select2/select2/pull/5453

[2019-03-26 14:11] pettinger commented on #73
Hi there, i am still waiting for the IG integration. are you still working on the issues? The Position af the select list jumps below the ig as soon as the first values in the list are shown. pls have a look at the attached animated gif
![Select2](https://user-images.githubusercontent.com/20111123/55004249-2abcec80-4fda-11e9-956c-090fcc2d9c39.gif)

[2019-04-02 09:09] #99 closed, assigned to nbuytaert1

[2019-04-03 13:32] avhrst opened #108 "APEX 19"
Plugin doesn't work in APEX 19

[2019-04-04 08:09] nbuytaert1 commented on #108
The Select2 plugin demo pages on apex.oracle.com, which runs on APEX version 19.1, are still working. There might be a problem with your environment's static file configuration. Are other plugins working as expected?

More information:
http://www.inside-oracle-apex.com/apex-5-0-there-are-issues-with-the-configuration-of-the-static-files-in-your-environment/

[2019-04-18 04:19] jekeam opened #109 "set text if not data found"
Hi! How do I make it accept a random text? I. e. choose from the list, or set manually?
I need a story like in a search engine:
<img src="https://developers.google.com/search/docs/data-types/images/sitelinks01.png" />

[2019-04-18 08:25] nbuytaert1 commented on #109
Set the Select List Type setting to Tagging Support.

[2019-05-23 07:47] spock1984 opened #110 "APEX 19.1. modal window"
Hi!

Plugin works great in version 19.1.
But I have a rendering problem using plugin in modal window.
It would be great if modal would resize automatically after clicking on LOV if it can't fit on page.

Please see example with 2 native LOV's and 2 select2 LOV's at:
https://apex.oracle.com/pls/apex/f?p=127537

Do you or anyone have any quick solution for this?
Thanks!

[2019-05-24 05:21] nbuytaert1 commented on #110
A modal window is an iFrame element. This means that elements inside the iFrame can't extend the borders of the iFrame. More info here: https://stackoverflow.com/questions/31081821/extend-div-outside-bounds-of-iframe

The easy solution here is to make the height of the modal window larger. Use the _Height_ setting on page level.

[2019-05-24 06:59] #110 closed, assigned to nbuytaert1

[2019-05-24 07:01] spock1984 commented on #110
Thanks Nick!
I know about height, just wondering is it possible.

[2019-05-24 07:11] #108 closed, assigned to nbuytaert1

[2019-05-24 07:12] #109 closed, assigned to nbuytaert1

[2019-05-24 07:13] #94 closed, assigned to nobody

[2019-05-27 06:42] jekeam opened #111 "Search for some words does not work"
I can not understand what was happening, I tried different settings, but searching for certain words does not work, what could be the problem?
Example (Containse & ignore Case):
![Снимок](https://user-images.githubusercontent.com/19660852/58400450-75a7be80-8074-11e9-8c8b-1f238cc0f517.PNG)

Not found, but the string exists if you enter another word:
![Снимок2](https://user-images.githubusercontent.

[2019-05-27 06:54] nbuytaert1 commented on #111
That's odd. Is it possible to reproduce this behavior on apex.oracle.com and share developer credentials for your workspace?

[2019-05-28 05:44] jekeam commented on #111
I don't quite understand how these options work inside, you can explain their behavior in more detail:
Contains & Ignore Case
Contains & Ignore Case, with Diacritics
Contains & Case Sensitive
Exact & Ignore Case
Exact & Case Sensitive
Starts With & Ignore Case
Starts With & Case Sensitive
Multi-word Search

Demo:
https://apex.oracle.com/pls/apex/f?p=128665:2::::::
cred.: suineg/suineg@inbox.ru/123

[2019-05-28 07:11] jekeam commented on #111
The problem will disappear if you add a condition: `where name like 'VBNKRUM1VGD%'`
Does this really mean the number of lines?

[2019-05-29 06:36] nbuytaert1 commented on #111
The _Search Logic_ setting determines how the entered search term is matched with the display column in your LOV.

The problem here is indeed the large amount of results being returned to the client. When I run the page in debug mode, I notice the following error:

`PL/SQL: numeric or value error: character string buffer too small
ORA-06512: at "APEX_190100.WWV_FLOW_DYNAMIC_EXEC", line 1500
ORA-06

[2019-05-29 06:44] jekeam commented on #111
Yes, it helped, thanks. I did not get the idea to enable debugging, even ashamed)
As for the parameters, I understood. But I did not understand how each of them works in more detail, you can describe in more detail or send ref on doc.?

[2019-06-19 16:08] nbuytaert1 commented on #111
Contains & Ignore Case = case insensitive regular search
Contains & Ignore Case, with Diacritics = case insensitive regular search, not taking into account special characters (for example: searching for "aero" will return "Aeróbics")
Contains & Case Sensitive = case sensitive regular search
Exact & Ignore Case = the search term must match the search option completely (case insensitive)
Exact & Cas

[2019-09-09 13:14] Alien-nick commented on #107
Hi, @ericyuri can you help me in solving this problem by configuring ORDS? The help will be much appreciated.

[2019-09-09 14:27] ericyuri commented on #107
@Alien-nick
try this
`java -jar ords.war validate --database apex. java -jar ords.war static`

For debug it is convinient to edit ORDS config file defaults.xml with these strings
[code]

Don't forget to set them false on production.

[2019-10-22 08:02] steffi80 commented on #102
I have the same issue. @sejal27 did you find a way to ignore unsaved changes?

[2019-10-30 05:45] jekeam opened #112 "limit the selection of items in the inner group"
In my query I use groups, how can I make multiple selection of items by limiting the selection to only 1 item in the inner group?

[2019-10-30 06:18] jekeam opened #113 "Option "Maximum selection size" not working"
Option "Maximum selection size" not working if enable option "Rapid Selection"

[2019-10-30 07:08] jekeam opened #114 "Filter data if using shared components "List of values""
I need to further filter the data when I use shared components "List of values". Is it possible to do this?

[2019-11-25 10:42] orabin opened #115 "Bug in APEX 19.2?"
**We use your Select2 plugin (3.0.3)
After switching to Apex 19.2, the page element of the plugin became incorrectly displayed.  Observed in IE and Chrome.**
Apply to the files.
LOV based on request:
select  ename display_value ,empno return_value, deptno grp  from emp
  ORDER BY grp, display_value
**Is this a plugin error or is there a workaround?**

[2019-11-25 10:44] orabin commented on #115
![select2_1](https://user-images.githubusercontent.com/3724088/69533840-6e695b00-0f9a-11ea-987f-cec695ea9b61.JPG)
![select2_2](https://user-images.githubusercontent.com/3724088/69533850-72957880-0f9a-11ea-8bde-628395ff459f.JPG)

[2019-12-22 02:09] tmilowski opened #116 "Tagging support in IE"
The tagging support is not behaving correctly in IE. I believe this was reported before and I wonder if there is any chance for the fix or suggest workaround.
In IE after typing 2 characters the tagging stops allowing to add more.

[2019-12-31 01:39] debrajgh opened #117 "select2 not working based on a view which returns 50k rows"
I have an item of select2 type based on a view that returns 50k rows.

If I choose lazy loading off, the drop down populates correctly, but takes long time to load.

If I choose lazy loading on, the loading time  is minimum however no data gets populated in the select2 item.

[2020-01-03 18:33] nbuytaert1 commented on #117
Can you reproduce this behaviour on apex.oracle.com and grant me developer access to your workspace?

[2020-01-08 01:20] ScottHollows opened #118 "Quick Edit does not work with Select2"
Developer Toolbar -> Quick Edit does not work with Select2

Steps to reproduce
===============
1) Run an application from ApEx builder, showing the developer toolbar
2) Click on the QUICK EDIT button in the developer toolbar
3) Click on a Select2 item
4) The page will open in ApEx builder as expected.

5) The expected behaviour at this point is the item should be
selected n the rendering tab and t

[2020-01-12 11:40] abhinavk1807 opened #119 "Suppress Change event not working"
Selecting Suppress Change Event as 'Yes' still fire's the changes event for Item selected in 'Items to Return'

[2020-01-16 05:11] ScottHollows opened #120 "HTML colors and fonts does not work if Lazy Load = FALSE"
Summary
==============
HTML colors and fonts are begin stripped from the drop list display text if LAZY LOAD = FALSE
The correct behaviour is the HTML should be left as is

Description
==============
I want to display the drop down values with mixed fonts, colours, bold etc

This works correctly if LAZY LOAD = TRUE

If I switch off LAZY LOAD, the colours and fonts are stripped back to plain text

[2020-01-16 16:02] rimblas commented on #120
@ScottHollows have you played with the `templateSelection` & `templateResult`?

In the "Extra Options" field you can specify a function to manipulate the values and format them. For example:
![image](https://user-images.githubusercontent.com/2160702/72540773-00793b80-3847-11ea-90a7-686af1a7a78a.png)

[code]

Final result:
![image](https://user-images.githubusercontent.com/2160702/72540924-3f0ef600

[2020-01-20 05:45] ScottHollows opened #121 "Unable to set value to Nth value in the list"
With a regular SELECT item (not Select2) it is possible to set the value of the item to the first value in the drop list

![image](https://user-images.githubusercontent.com/4010210/72701825-9b498100-3b8b-11ea-90fc-c0e93cd39b1d.png)

There are at least three ways to do this with a regular ApEx Select item, but none of these work with Select2

1) Javascript
document.getElementById("P1234_MY_ITEM").s

[2020-01-21 08:09] nbuytaert1 commented on #121
Your JavaScript statements are fine, but they need an extra line for Select2 to pick up the changed value. For example:

[code]

[2020-01-22 02:17] ScottHollows commented on #121
I have verified that your solution works

Thank you

Closing

[2020-01-22 02:17] #121 closed, assigned to nbuytaert1

[2020-01-29 09:17] abhinavk1807 commented on #100
@JacoFourie, please share the solution for this

[2020-02-14 14:04] tonupold commented on #102
I have the same issue: Apex  19.1.0.00.15 and Select2 version 3.0.3.

Traced  down that it happens when "Display null value" is set to *NO*

![image](https://user-images.githubusercontent.com/10087569/74536369-a0a6ab00-4f40-11ea-9529-65d77d8b8720.png)

**So workarund is to leave "Display null value" to YES on SELECT2 item when "Warn on Unsaved Changes" is set to "Ignore".**

The reason is that ```

[2020-02-14 15:17] rimblas commented on #102
@tonupold just a debugging tip, if you turn on Debug on the page, the desktop_all.min.js file will get exploded into all the un-minified individual components making it very easy to track the correct code.
The code you identified is part of `apex/item.js` and in particular the `isChanged` function.
Perhaps the plugin should have it's own isChanged callback as highlighted below.
Not sure... have no

[2020-04-06 11:40] riseuday opened #122 "Conflict with JQuery when using with JET"
I get below error when trying to use with JET. Any help would be appreciated.
jQuery.Deferred exception: $(...).select2 is not a function TypeError: $(...).select2 is not a function

[2020-04-17 12:40] abha3011 opened #123 "APEX-Select2 works very slowly if the number of records are more."
Hello,

I have a apex report with 2 columns which are linked to Select2  plugin. One column returns aroun 1000 rows and another returns around 10000 rows.

The column which returns 1000 rows works fine with this plugin. But it is very slow, for the column that returns 10000 rows.

can you please suggest what I can do to improve the performance.

I have made an application on apex.oracle.com with a

[2020-04-17 13:54] rimblas commented on #123
Have you tried the Lazy Loading option?

[2020-04-20 07:09] abha3011 commented on #123
Yes, I have tried with that alos, but still it is ver slow .

[2020-04-21 20:40] rimblas commented on #123
Then, you'll have to work on the performance of that SQL statement.
This is not a Select2 issue right?  1000 results of anything are not a problem for the Select2

[2020-04-22 07:38] abha3011 commented on #123
for testing purposes I have used a very simple and basic query to return 1 to 10000 numbers.

Select Rownum r , rownum d
From dual
Connect By Rownum <= 10000

so, I am pretty sure there is nothing to do with th\e query performance. One more thing that I have noticed is that, Select2 works fine on chrome or mozilla browser  , but it is only on IE , that it give performance issue with this query.

[2020-04-22 16:41] rimblas commented on #123
I didn't catch that this was an IE issue.  Sorry, I can't help you with that.

[2020-06-07 17:48] MarkRom opened #124 "Problem using grouping and multi-value"
I'm not sure why when using the grouping and multi-value option the saved values ​​are duplicated. Without the grouping option the values ​​are saved correctly without duplicating.

**Apex version:** Oracle: 12c - Apex 20.1

The code I am using is like the example:

`SELECT e.ename d
     , e.empno r
     , d.dname grp
  FROM emp e
  LEFT JOIN dept d ON d.deptno = e.deptno
 ORDER BY grp, d`

With

[2020-06-09 19:08] nbuytaert1 commented on #124
Can you create the same behaviour on apex.oracle.com?
If so, can you grant me access to your workspace on apex.oracle.com? That way I can take a look at this specific problem.

[2020-06-11 04:39] MarkRom commented on #124
This is the workspace

Workspacename: fabaratest
user: marcog.romerov@outlook.com
Password: FabaraTest

In the Aplicación 19203 - Select2 Test in the page 3 is the plugin

Thanks!

[2020-06-17 18:09] nbuytaert1 commented on #124
Thanks for the demo workspace.

There seems to be a problem with the 'Drag and Drop Sorting' setting in combination with option grouping. If you disable 'Drag and Drop Sorting', the item will work just fine.

I'm not sure what the cause of this bug is, but is it possible for you to disable the 'Drag and Drop Sorting' setting in your case.

[2020-11-17 16:18] MichelVogelpoel commented on #102
In Apex 18.2 we still found this issue when using Select2 plugin.
As a workaround I have added the following class in the page Item Advanced CSS classes: js-ignoreChange
Now I don't receive the popup any more if I change in the item with Select2 type

[2021-02-18 14:22] basudevsingh18 opened #125 "Problem with Select2 in Interactive Grids for Oracle Apex 20.2"
Hi
For a while now I had to change all my interactive grid LOVs from select2 to popup lov since apex was upgraded to 20.2
I don't know why this is happening. When I try to open a select2 list in an interactive grid, it does not open and starts to glitch regardless if it is a sql query or a plsql function body.

I would really like to start using back the select2 lov instead of the popup lov.

Than

[2021-02-18 17:42] nbuytaert1 commented on #125
The Select2 plugin and Interactive Grid are not compatible. And I don't think they ever will... Sorry.

[2021-10-19 14:12] TogaraMutasa commented on #116
I am having same issue as well on IE11, but behaviour changes if I change the Minimum Input Characters to a number higher than 2 like 4 it then starts to accept upto 4 characters only. So does this mean issue does not happen on Chrome?

[2021-10-19 14:16] TogaraMutasa commented on #104
having same issue as well on IE, but behaviour changes if I change the Minimum Input Characters to a number higher than 2 like 4 it then starts to accept upto 4 characters only. So does this mean issue does not happen on Chrome?

[2021-10-19 14:44] TogaraMutasa commented on #104
Works well on Chrome and I am using it on a Mobile App Platform(Converted from Web App)-Universal Theme so all good. Who uses IE on Mobile anywhere?

[2021-11-04 18:47] basudevsingh18 commented on #125
It was good while it lasted

[2021-11-04 18:47] #125 closed, assigned to nobody

[2022-08-10 02:37] lakshmis2022 opened #126 "Select2 Search Box is not working in Modal Dialog in Oracle APEX 20.1"
Hi Nick,
Good Day!
I am using select2 plugin version 3.0.3. In modal dialog page, select2 search box is coming at first time and immediately go off.
I have referred the similar issue in the below link and applied the same solution provided but dropdown itself not working and getting console error.
https://github.com/nbuytaert1/apex-select2/issues/72

![image](https://user-images.githubusercontent.